In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
car_data = pd.read_csv('drive/My Drive/fuse.ai/data/CarPrice.csv')
car_data.head(10)

   car_ID  symboling                   CarName  ... citympg highwaympg      price
0       1          3        alfa-romero giulia  ...      21         27  13495.000
1       2          3       alfa-romero stelvio  ...      21         27  16500.000
2       3          1  alfa-romero Quadrifoglio  ...      19         26  16500.000
3       4          2               audi 100 ls  ...      24         30  13950.000
4       5          2                audi 100ls  ...      18         22  17450.000
5       6          2                  audi fox  ...      19         25  15250.000
6       7          1                audi 100ls  ...      19         25  17710.000
7       8          1                 audi 5000  ...      19         25  18920.000
8       9          1                 audi 4000  ...      17         20  23875.000
9      10          0       audi 5000s (diesel)  ...      16         22  17859.167

[10 rows x 26 columns]

In [0]:
del car_data['car_ID']

In [0]:
car_data.head(10)

   symboling                   CarName fueltype  ... citympg highwaympg      price
0          3        alfa-romero giulia      gas  ...      21         27  13495.000
1          3       alfa-romero stelvio      gas  ...      21         27  16500.000
2          1  alfa-romero Quadrifoglio      gas  ...      19         26  16500.000
3          2               audi 100 ls      gas  ...      24         30  13950.000
4          2                audi 100ls      gas  ...      18         22  17450.000
5          2                  audi fox      gas  ...      19         25  15250.000
6          1                audi 100ls      gas  ...      19         25  17710.000
7          1                 audi 5000      gas  ...      19         25  18920.000
8          1                 audi 4000      gas  ...      17         20  23875.000
9          0       audi 5000s (diesel)      gas  ...      16         22  17859.167

[10 rows x 25 columns]

In [0]:
car_data.shape

(205, 25)

In [0]:
car_data.info()
# no null values
# some objects are present that needs to be encoded

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
symboling           205 non-null int64
CarName             205 non-null object
fueltype            205 non-null object
aspiration          205 non-null object
doornumber          205 non-null object
carbody             205 non-null object
drivewheel          205 non-null object
enginelocation      205 non-null object
wheelbase           205 non-null float64
carlength           205 non-null float64
carwidth            205 non-null float64
carheight           205 non-null float64
curbweight          205 non-null int64
enginetype          205 non-null object
cylindernumber      205 non-null object
enginesize          205 non-null int64
fuelsystem          205 non-null object
boreratio           205 non-null float64
stroke              205 non-null float64
compressionratio    205 non-null float64
horsepower          205 non-null int64
peakrpm             205 non-null int64
citympg             205 non-null int64
highwaympg          205 non-null int64
price               205 non-null float64
dtypes: float64(8), int64(7), object(10)
memory usage: 40.2+ KB

In [0]:
def num_missing(x):
  return sum(x.isnull())

In [0]:
# Finding missing value per column:
print("Missing value per column:")
print(car_data.apply(num_missing, axis=0))

# Finding missing value per row
print("Missing value per individual row:")
print(car_data.apply(num_missing, axis=1))

Missing value per column:
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64
Missing value per individual row:
0      0
1      0
2      0
3      0
4      0
      ..
200    0
201    0
202    0
203    0
204    0
Length: 205, dtype: int64

In [0]:
car_data.describe()

        symboling   wheelbase   carlength  ...     citympg  highwaympg         price
count  205.000000  205.000000  205.000000  ...  205.000000  205.000000    205.000000
mean     0.834146   98.756585  174.049268  ...   25.219512   30.751220  13276.710571
std      1.245307    6.021776   12.337289  ...    6.542142    6.886443   7988.852332
min     -2.000000   86.600000  141.100000  ...   13.000000   16.000000   5118.000000
25%      0.000000   94.500000  166.300000  ...   19.000000   25.000000   7788.000000
50%      1.000000   97.000000  173.200000  ...   24.000000   30.000000  10295.000000
75%      2.000000  102.400000  183.100000  ...   30.000000   34.000000  16503.000000
max      3.000000  120.900000  208.100000  ...   49.000000   54.000000  45400.000000

[8 rows x 15 columns]

In [0]:
# Split brand or company from CarName

CompanyName = car_data['CarName'].apply(lambda x : x.split(' ')[0])
car_data.insert(1, "CompanyName", CompanyName)
del car_data['CarName']
car_data.head(10)

   symboling  CompanyName fueltype  ... citympg highwaympg      price
0          3  alfa-romero      gas  ...      21         27  13495.000
1          3  alfa-romero      gas  ...      21         27  16500.000
2          1  alfa-romero      gas  ...      19         26  16500.000
3          2         audi      gas  ...      24         30  13950.000
4          2         audi      gas  ...      18         22  17450.000
5          2         audi      gas  ...      19         25  15250.000
6          1         audi      gas  ...      19         25  17710.000
7          1         audi      gas  ...      19         25  18920.000
8          1         audi      gas  ...      17         20  23875.000
9          0         audi      gas  ...      16         22  17859.167

[10 rows x 25 columns]

In [0]:
car_data['CompanyName'].values

array(['alfa-romero', 'alfa-romero', 'alfa-romero', 'audi', 'audi',
       'audi', 'audi', 'audi', 'audi', 'audi', 'bmw', 'bmw', 'bmw', 'bmw',
       'bmw', 'bmw', 'bmw', 'bmw', 'chevrolet', 'chevrolet', 'chevrolet',
       'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge',
       'dodge', 'dodge', 'honda', 'honda', 'honda', 'honda', 'honda',
       'honda', 'honda', 'honda', 'honda', 'honda', 'honda', 'honda',
       'honda', 'isuzu', 'isuzu', 'isuzu', 'isuzu', 'jaguar', 'jaguar',
       'jaguar', 'maxda', 'maxda', 'mazda', 'mazda', 'mazda', 'mazda',
       'mazda', 'mazda', 'mazda', 'mazda', 'mazda', 'mazda', 'mazda',
       'mazda', 'mazda', 'mazda', 'mazda', 'buick', 'buick', 'buick',
       'buick', 'buick', 'buick', 'buick', 'buick', 'mercury',
       'mitsubishi', 'mitsubishi', 'mitsubishi', 'mitsubishi',
       'mitsubishi', 'mitsubishi', 'mitsubishi', 'mitsubishi',
       'mitsubishi', 'mitsubishi', 'mitsubishi', 'mitsubishi',
       'mitsubishi', 'Nissan', 'nissan', 'nissan', 'nissan', 'nissan',
       'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan',
       'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan',
       'nissan', 'peugeot', 'peugeot', 'peugeot', 'peugeot', 'peugeot',
       'peugeot', 'peugeot', 'peugeot', 'peugeot', 'peugeot', 'peugeot',
       'plymouth', 'plymouth', 'plymouth', 'plymouth', 'plymouth',
       'plymouth', 'plymouth', 'porsche', 'porcshce', 'porsche',
       'porsche', 'porsche', 'renault', 'renault', 'saab', 'saab', 'saab',
       'saab', 'saab', 'saab', 'subaru', 'subaru', 'subaru', 'subaru',
       'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru',
       'subaru', 'subaru', 'toyota', 'toyota', 'toyota', 'toyota',
       'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota',
       'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota',
       'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota',
       'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota',
       'toyota', 'toyota', 'toyota', 'toyouta', 'vokswagen', 'volkswagen',
       'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen',
       'volkswagen', 'vw', 'vw', 'volkswagen', 'volkswagen', 'volkswagen',
       'volvo', 'volvo', 'volvo', 'volvo', 'volvo', 'volvo', 'volvo',
       'volvo', 'volvo', 'volvo', 'volvo'], dtype=object)

In [0]:
car_data['CompanyName'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'buick', 'mercury', 'mitsubishi',
       'nissan', 'peugeot', 'plymouth', 'porsche', 'porcshce', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [0]:
car_data['CompanyName'] = car_data['CompanyName'].str.lower()

In [0]:
car_data['CompanyName'].replace(('vw', 'vokswagen'), 'volkswagen', inplace=True)

In [0]:
car_data['CompanyName'].replace('maxda', 'mazda', inplace=True)

In [0]:
car_data['CompanyName'].replace('toyouta', 'toyota', inplace=True)

In [0]:
def replace_name(a,b, columnName):
  car_data[columnName].replace(a, b, inplace=True)

In [0]:
replace_name(('vw', 'vokswagen'), 'volkswagen', 'CompanyName')

In [0]:
?plt.scatter(car_data)

In [0]:
import seaborn as sns

In [0]:
sns.heatmap(car_data, cmap='RdYlGn_r')

TypeError: ignored

In [0]:
car_data.describe()

        symboling   wheelbase   carlength  ...     citympg  highwaympg         price
count  205.000000  205.000000  205.000000  ...  205.000000  205.000000    205.000000
mean     0.834146   98.756585  174.049268  ...   25.219512   30.751220  13276.710571
std      1.245307    6.021776   12.337289  ...    6.542142    6.886443   7988.852332
min     -2.000000   86.600000  141.100000  ...   13.000000   16.000000   5118.000000
25%      0.000000   94.500000  166.300000  ...   19.000000   25.000000   7788.000000
50%      1.000000   97.000000  173.200000  ...   24.000000   30.000000  10295.000000
75%      2.000000  102.400000  183.100000  ...   30.000000   34.000000  16503.000000
max      3.000000  120.900000  208.100000  ...   49.000000   54.000000  45400.000000

[8 rows x 15 columns]

In [0]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
symboling           205 non-null int64
CarName             205 non-null object
fueltype            205 non-null object
aspiration          205 non-null object
doornumber          205 non-null object
carbody             205 non-null object
drivewheel          205 non-null object
enginelocation      205 non-null object
wheelbase           205 non-null float64
carlength           205 non-null float64
carwidth            205 non-null float64
carheight           205 non-null float64
curbweight          205 non-null int64
enginetype          205 non-null object
cylindernumber      205 non-null object
enginesize          205 non-null int64
fuelsystem          205 non-null object
boreratio           205 non-null float64
stroke              205 non-null float64
compressionratio    205 non-null float64
horsepower          205 non-null int64
peakrpm             205 non-null int64
citympg             205 non-null int64
highwaympg          205 non-null int64
price               205 non-null float64
dtypes: float64(8), int64(7), object(10)
memory usage: 40.2+ KB

In [0]:
one_hot = pd.get_dummies(car_data['CarName'])

In [0]:
one_hot.head()

   Nissan versa  alfa-romero Quadrifoglio  ...  vw dasher  vw rabbit
0             0                         0  ...          0          0
1             0                         0  ...          0          0
2             0                         1  ...          0          0
3             0                         0  ...          0          0
4             0                         0  ...          0          0

[5 rows x 147 columns]